body {
  /* overflow: hidden; */
  /*ACTIVATE THIS ^^^ TO STOP SCROLLING*/
  /* font-family: 'Merriweather', serif; */

font-family: 'Poppins', sans-serif;
color: blue;

}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;

  }
}

p{
  font-size: 14px;
}
i{
  font-size: 12px;
}

nav {
  position: fixed;
  top: 0;
  left: 2em;
  right: 2em;
  padding: var(--font-size-l) 0;
  border-bottom: 1px solid var(--charcoal-light);
  box-sizing: border-box;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.50);
}

nav>ul {
  list-style: none;
}

nav ul>li {

  display: inline-block;
  margin: 0 5em 0 0;

}

.allprojects {
  padding-top: 3em;
    padding-bottom: 3em;
  /* background-color: red; */
  margin-left: 8%;
  margin-right: 5%;
  /* margin-bottom: 7%; */


}

.container {
  display: inline-block;
  position: relative;
  width: 16vw;
  /* width: 38vw; */
  height: 14em;
 border: 1px solid blue;
}

#projectuno{
  display: flex;
  color: blue;
}

.textbit {
  margin-top: 3em;
  margin-bottom: 5em;
  margin-right: 5em;
  margin-left:3.2em;

    /* width: 100%; */
  position: relative;
  float: left;
  width: 29%;
  /* background: #ccc; */
  padding: 10px;


}

article {
    /* padding-top: 6em; */
    margin-top: 4.5em;
    margin-bottom: 5em;
  margin-right:3.2em;

  float: right;
  padding: 8px;
  width: 56%;
  /* background-color: #f1f1f1; */

}



#projectdos{
  display: flex;
}
#projecttres{
  display: flex;
}
#projectcuatro{
  display: flex;
}
#projectcinco{
  display: flex;
}
#projectseis{
  display: flex;
}
#projectsiete{
  display: flex;
}

#home{
  text-decoration: none;
  color: blue;
}
#contact{
  text-decoration: none;
  color: blue;
}
#resume{
  text-decoration: none;
  color: blue;
  
}


.scrolling-wrapper {
  /* background-color: yellow; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
  height: auto;
  }

  .card {
    /* max-height: 200px; */
    /* max-width: 100%; */
    /* background-color: red; */
  /* max-width: 300px; */
  display: inline-block;
    -webkit-flex: 0 0 auto;
    height: 68vh;
  }
img{
  /* width:100%;
  height:100%; */
  max-width:100%;
max-height:100%;
background: fill;
}


.resume-content {
    margin: 1em 0 2em 0;
    list-style: none;
}

.resume-content-item {
    font-size: var(--font-size-m);
    line-height: calc(var(--line-height) * 2);
    border-bottom: 1px solid black;
    padding-left: 2em;
}

#resumee > section:nth-last-of-type() > .resume-content {
    margin-bottom: 0;
}

::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(84, 132, 250, 0.58);
   border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
   border-radius: 10px;
}
